.e13_881 { 
	width:421px;
	height:800px;
	position:absolute;
}
.e13_774 { 
	width:421px;
	height:717.48876953125px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_588 { 
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:421px;
	height:717.48876953125px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_590 { 
	width:421px;
	height:49.06593322753906px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_591 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:48.26157760620117px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_595 { 
	color:rgba(0, 0, 0, 1);
	width:268px;
	height:48.26157760620117px;
	position:absolute;
	left:76px;
	top:15px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.ei13_774_13_773 { 
	width:379px;
	height:230px;
	position:absolute;
	left:21px;
	top:463px;
}
.ei13_774_13_741 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei13_774_13_772 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.27000001072883606);
	width:347px;
	height:41px;
	position:absolute;
	left:16px;
	top:53px;
}
.i13_774_13_742 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_742 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.i13_774_13_750 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_750 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:94px;
}
.i13_774_13_752 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_752 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:136px;
}
.i13_774_13_753 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_753 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:179px;
}
.i13_774_13_751 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_751 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.ei13_774_13_743 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:77.5px;
	top:15.98876953125px;
}
.i13_774_13_743 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_744 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:190px;
	top:16px;
}
.i13_774_13_744 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_745 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:245px;
	top:16px;
}
.i13_774_13_745 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.ei13_774_13_746 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_757 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_758 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:183px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_754 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_767 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_768 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_770 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_771 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_769 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_755 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:102px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_747 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_761 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_762 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_763 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_759 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_748 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_760 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_764 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_765 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_766 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_27_2989 { 
	width:379px;
	height:336.2222900390625px;
	position:absolute;
	left:21px;
	top:58.71825408935547px;
}
.ei13_774_13_736 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:379px;
	height:336.2222900390625px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei13_774_13_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:336.2222900390625px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.ei13_774_13_598 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:379px;
	height:33.783103942871094px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.ei13_774_13_599 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:21.71771240234375px;
	position:absolute;
	left:17px;
	top:7.239234924316406px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_629 { 
	width:336px;
	height:50.674652099609375px;
	position:absolute;
	left:8px;
	top:41.826698303222656px;
}
.ei13_774_13_600 { 
	transform: rotate(90deg);
	width:49.065940856933594px;
	height:0px;
	position:absolute;
	left:47px;
	top:0.8043594360351562px;
}
.i13_774_13_600 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_601 { 
	transform: rotate(90deg);
	width:49.065940856933594px;
	height:0px;
	position:absolute;
	left:96px;
	top:0.8043594360351562px;
}
.i13_774_13_601 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_602 { 
	transform: rotate(90deg);
	width:49.065940856933594px;
	height:0px;
	position:absolute;
	left:148px;
	top:0.8043594360351562px;
}
.i13_774_13_602 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_603 { 
	transform: rotate(90deg);
	width:49.065940856933594px;
	height:0px;
	position:absolute;
	left:204px;
	top:0.8043594360351562px;
}
.i13_774_13_603 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_604 { 
	transform: rotate(90deg);
	width:49.065940856933594px;
	height:0px;
	position:absolute;
	left:262px;
	top:0.8043594360351562px;
}
.i13_774_13_604 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_605 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:319px;
	top:1.6087188720703125px;
}
.i13_774_13_605 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_606 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.261039733886719px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_613 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261039733886719px;
	position:absolute;
	left:54px;
	top:0.8043594360351562px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_607 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261039733886719px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_608 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261039733886719px;
	position:absolute;
	left:153px;
	top:0.8043594360351562px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_705 { 
	border-radius:500px;
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.3799999952316284);
	width:14px;
	height:11.261039733886719px;
	position:absolute;
	left:205px;
	top:0px;
}
.ei13_774_13_609 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261039733886719px;
	position:absolute;
	left:209px;
	top:0.8043594360351562px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_610 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261039733886719px;
	position:absolute;
	left:267px;
	top:0.8043594360351562px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_611 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261039733886719px;
	position:absolute;
	left:324px;
	top:0.8043594360351562px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_630 { 
	width:336px;
	height:50.674652099609375px;
	position:absolute;
	left:8px;
	top:100.5449447631836px;
}
.ei13_774_13_631 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:47px;
	top:0.8043670654296875px;
}
.i13_774_13_631 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_632 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:96px;
	top:0.8043670654296875px;
}
.i13_774_13_632 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_633 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:148px;
	top:0.8043670654296875px;
}
.i13_774_13_633 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_634 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:204px;
	top:0.8043670654296875px;
}
.i13_774_13_634 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_635 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:262px;
	top:0.8043670654296875px;
}
.i13_774_13_635 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_636 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:319px;
	top:1.6087188720703125px;
}
.i13_774_13_636 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_637 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_644 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:54px;
	top:0.8043670654296875px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_638 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_639 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:153px;
	top:0.8043670654296875px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_640 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:209px;
	top:0.8043670654296875px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_641 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:267px;
	top:0.8043670654296875px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_642 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:324px;
	top:0.8043670654296875px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_645 { 
	width:336px;
	height:50.67463684082031px;
	position:absolute;
	left:8px;
	top:159.26321411132812px;
}
.ei13_774_13_646 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:47px;
	top:0.804351806640625px;
}
.i13_774_13_646 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_647 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:96px;
	top:0.804351806640625px;
}
.i13_774_13_647 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_648 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:148px;
	top:0.804351806640625px;
}
.i13_774_13_648 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_649 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:204px;
	top:0.804351806640625px;
}
.i13_774_13_649 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_650 { 
	transform: rotate(90deg);
	width:49.06593322753906px;
	height:0px;
	position:absolute;
	left:262px;
	top:0.804351806640625px;
}
.i13_774_13_650 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_651 { 
	transform: rotate(90deg);
	width:49.06591796875px;
	height:0px;
	position:absolute;
	left:319px;
	top:1.6087188720703125px;
}
.i13_774_13_651 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_652 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_659 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:54px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_653 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_654 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:153px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_655 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:209px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_656 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:267px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_657 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261032104492188px;
	position:absolute;
	left:324px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_675 { 
	width:336px;
	height:50.674652099609375px;
	position:absolute;
	left:8px;
	top:217.9814453125px;
}
.ei13_774_13_676 { 
	transform: rotate(90deg);
	width:49.065948486328125px;
	height:0px;
	position:absolute;
	left:47px;
	top:0.804351806640625px;
}
.i13_774_13_676 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_677 { 
	transform: rotate(90deg);
	width:49.065948486328125px;
	height:0px;
	position:absolute;
	left:96px;
	top:0.804351806640625px;
}
.i13_774_13_677 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_678 { 
	transform: rotate(90deg);
	width:49.065948486328125px;
	height:0px;
	position:absolute;
	left:148px;
	top:0.804351806640625px;
}
.i13_774_13_678 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_679 { 
	transform: rotate(90deg);
	width:49.065948486328125px;
	height:0px;
	position:absolute;
	left:204px;
	top:0.804351806640625px;
}
.i13_774_13_679 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_680 { 
	transform: rotate(90deg);
	width:49.065948486328125px;
	height:0px;
	position:absolute;
	left:262px;
	top:0.804351806640625px;
}
.i13_774_13_680 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_681 { 
	transform: rotate(90deg);
	width:49.065948486328125px;
	height:0px;
	position:absolute;
	left:319px;
	top:1.60870361328125px;
}
.i13_774_13_681 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_682 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.261016845703125px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_689 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.26104736328125px;
	position:absolute;
	left:54px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_683 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261016845703125px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_684 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.26104736328125px;
	position:absolute;
	left:153px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_685 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.26104736328125px;
	position:absolute;
	left:209px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_686 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.26104736328125px;
	position:absolute;
	left:267px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_687 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.26104736328125px;
	position:absolute;
	left:324px;
	top:0.804351806640625px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_690 { 
	width:66px;
	height:49.87030029296875px;
	position:absolute;
	left:8px;
	top:276.6996765136719px;
}
.ei13_774_13_691 { 
	transform: rotate(90deg);
	width:49.06591796875px;
	height:0px;
	position:absolute;
	left:47px;
	top:0.80438232421875px;
}
.i13_774_13_691 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.ei13_774_13_697 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:11.26104736328125px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_704 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:11.261016845703125px;
	position:absolute;
	left:54px;
	top:0.80438232421875px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.ei13_774_13_2195 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:5px;
	top:78.28165435791016px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_774_13_2731 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:55px;
	top:78.28165435791016px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_774_13_3272 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:107px;
	top:78.28165435791016px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_774_13_3818 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:160px;
	top:78.28165435791016px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.ei13_774_84_1898 { 
	transform: rotate(-90deg);
	background-color:rgba(0, 0, 0, 1);
	width:32px;
	height:32px;
	position:absolute;
	left:9px;
	top:43px;
}
.ei13_774_86_1363 { 
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:21px;
	height:17px;
	position:absolute;
	left:201px;
	top:778px;
}
.e13_883 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0.5199999809265137);
	width:421px;
	height:397.3094177246094px;
	position:absolute;
	left:-1px;
	top:0px;
}
.e13_884 { 
	box-shadow:0px -4px 4px rgba(0, 0, 0, 0.25);
	width:421px;
	height:556.95068359375px;
	position:absolute;
	left:1px;
	top:243.04933166503906px;
}
.e13_885 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:421px;
	height:556.95068359375px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_943 { 
	width:168px;
	height:121.07623291015625px;
	position:absolute;
	left:32px;
	top:278.92376708984375px;
}
.e13_887 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:168px;
	height:121.07623291015625px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_889 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:26.008968353271484px;
	position:absolute;
	left:10px;
	top:9.865470886230469px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_893 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:78px;
	height:52.914798736572266px;
	position:absolute;
	left:26px;
	top:56.50224304199219px;
}
.e13_891 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:22.421524047851562px;
	position:absolute;
	left:108px;
	top:91.47982025146484px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_944 { 
	width:168px;
	height:121.07623291015625px;
	position:absolute;
	left:221px;
	top:278.92376708984375px;
}
.e13_888 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:168px;
	height:121.07623291015625px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_890 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:26.008968353271484px;
	position:absolute;
	left:12px;
	top:8.968608856201172px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_894 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:78px;
	height:52.914798736572266px;
	position:absolute;
	left:32px;
	top:58.295963287353516px;
}
.e13_892 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:22.421524047851562px;
	position:absolute;
	left:114px;
	top:93.27354431152344px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_942 { 
	width:350px;
	height:356.95068359375px;
	position:absolute;
	left:34px;
	top:418.8340759277344px;
}
.e13_896 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:350px;
	height:356.95068359375px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_897 { 
	color:rgba(0, 0, 0, 1);
	width:257px;
	height:53.81166076660156px;
	position:absolute;
	left:20px;
	top:6.278026580810547px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e13_941 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:27px;
	top:59.19282531738281px;
}
.e13_901 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_902 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:22.421524047851562px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_902 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_903 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_903 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:30.044843673706055px;
}
.e13_940 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:27px;
	top:103.1390151977539px;
}
.e13_910 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_911 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:22.421524047851562px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_911 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_912 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_912 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:30.044841766357422px;
}
.e13_939 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:27px;
	top:147.085205078125px;
}
.e13_922 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_923 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:22.421524047851562px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_923 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_924 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_924 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:30.044843673706055px;
}
.e13_938 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:27px;
	top:191.03140258789062px;
}
.e13_925 { 
	width:287.990234375px;
	height:30.044843673706055px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_926 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:25px;
	height:22.421524047851562px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_926 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_927 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_927 { 
	width:250px;
	height:0px;
	position:absolute;
	left:37.990234375px;
	top:30.044843673706055px;
}
.e105_1362 { 
	transform: rotate(-180deg);
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:21px;
	height:17px;
	position:absolute;
	left:50px;
	top:40px;
}

button {
	background-color: #4CAF50; /* 버튼 배경색 */
	color: white; /* 버튼 텍스트 색 */
	padding: 10px 20px; /* 버튼의 안쪽 여백 */
	border: none; /* 버튼 테두리 제거 */
	border-radius: 5px; /* 버튼 모서리 둥글게 */
	font-size: 16px; /* 버튼 텍스트 크기 */
	cursor: pointer; /* 마우스 커서가 버튼 위에 있을 때 손가락 모양으로 변경 */
	margin-top: 20px; /* 버튼 상단에 여백 추가 */
	left: 65px;
	top: 40px;
  }