<div class=e13_881>
  <div class=e13_774>
    <div class="ei13_774_13_588"></div>
    <div class=ei13_774_13_590>
      <div class="ei13_774_13_591"></div>
      <span  class="ei13_774_13_595">HeartSignal</span>
    </div>
    <div class=ei13_774_13_773>
      <div class="ei13_774_13_741"></div>
      <div class="ei13_774_13_772"></div>
      <div class="ei13_774_13_742"></div>
      <div class="ei13_774_13_750"></div>
      <div class="ei13_774_13_752"></div>
      <div class="ei13_774_13_753"></div>
      <div class="ei13_774_13_751"></div>
      <div class="ei13_774_13_743"></div>
      <div class="ei13_774_13_744"></div>
      <div class="ei13_774_13_745"></div><span  class="ei13_774_13_746">혈압 분류</span><span  class="ei13_774_13_757">1 기</span><span  class="ei13_774_13_758">2 기</span><span  class="ei13_774_13_754">정상</span><span  class="ei13_774_13_767">그리고</span><span  class="ei13_774_13_768">또는</span><span  class="ei13_774_13_770">또는</span><span  class="ei13_774_13_771">또는</span><span  class="ei13_774_13_769">그리고</span><span  class="ei13_774_13_755">고혈압
전 단계</span><span  class="ei13_774_13_747">수축기 혈압
(mmHg)</span><span  class="ei13_774_13_761">120 ~ 139</span><span  class="ei13_774_13_762">140 ~ 159</span><span  class="ei13_774_13_763">160 이상</span><span  class="ei13_774_13_759">120 미만</span><span  class="ei13_774_13_748">이완기 혈압
(mmHg)</span><span  class="ei13_774_13_760">80 미만</span><span  class="ei13_774_13_764">80 ~ 89</span><span  class="ei13_774_13_765">90 ~ 99</span><span  class="ei13_774_13_766">100 이상</span>
    </div>
    <div class=ei13_774_27_2989>
      <div class=ei13_774_13_736>
        <div class="ei13_774_13_597"></div>
        <div class="ei13_774_13_598"></div><span  class="ei13_774_13_599">9</span>
        <div class=ei13_774_13_629>
          <div class="ei13_774_13_600"></div>
          <div class="ei13_774_13_601"></div>
          <div class="ei13_774_13_602"></div>
          <div class="ei13_774_13_603"></div>
          <div class="ei13_774_13_604"></div>
          <div class="ei13_774_13_605"></div><span  class="ei13_774_13_606">1</span><span  class="ei13_774_13_613">2</span><span  class="ei13_774_13_607">3</span><span  class="ei13_774_13_608">4</span>
          <div class="ei13_774_13_705"></div><span  class="ei13_774_13_609">5</span><span  class="ei13_774_13_610">6</span><span  class="ei13_774_13_611">7</span>
        </div>
        <div class=ei13_774_13_630>
          <div class="ei13_774_13_631"></div>
          <div class="ei13_774_13_632"></div>
          <div class="ei13_774_13_633"></div>
          <div class="ei13_774_13_634"></div>
          <div class="ei13_774_13_635"></div>
          <div class="ei13_774_13_636"></div><span  class="ei13_774_13_637">8</span><span  class="ei13_774_13_644">9</span><span  class="ei13_774_13_638">10</span><span  class="ei13_774_13_639">11</span><span  class="ei13_774_13_640">12</span><span  class="ei13_774_13_641">13</span><span  class="ei13_774_13_642">14</span>
        </div>
        <div class=ei13_774_13_645>
          <div class="ei13_774_13_646"></div>
          <div class="ei13_774_13_647"></div>
          <div class="ei13_774_13_648"></div>
          <div class="ei13_774_13_649"></div>
          <div class="ei13_774_13_650"></div>
          <div class="ei13_774_13_651"></div><span  class="ei13_774_13_652">15</span><span  class="ei13_774_13_659">16</span><span  class="ei13_774_13_653">17</span><span  class="ei13_774_13_654">18</span><span  class="ei13_774_13_655">19</span><span  class="ei13_774_13_656">20</span><span  class="ei13_774_13_657">21</span>
        </div>
        <div class=ei13_774_13_675>
          <div class="ei13_774_13_676"></div>
          <div class="ei13_774_13_677"></div>
          <div class="ei13_774_13_678"></div>
          <div class="ei13_774_13_679"></div>
          <div class="ei13_774_13_680"></div>
          <div class="ei13_774_13_681"></div><span  class="ei13_774_13_682">22</span><span  class="ei13_774_13_689">23</span><span  class="ei13_774_13_683">24</span><span  class="ei13_774_13_684">25</span><span  class="ei13_774_13_685">26</span><span  class="ei13_774_13_686">27</span><span  class="ei13_774_13_687">28</span>
        </div>
        <div class=ei13_774_13_690>
          <div class="ei13_774_13_691"></div><span  class="ei13_774_13_697">29</span><span  class="ei13_774_13_704">30</span>
        </div>
      </div><span  class="ei13_774_13_2195">수축기 150<br>
이완기 95</span><span  class="ei13_774_13_2731">수축기 152<br>
이완기 96</span><span  class="ei13_774_13_3272">수축기 149<br>
이완기 93</span><span  class="ei13_774_13_3818">수축기 150<br>
이완기 94</span>
    </div>
  </div>
  <div class="e13_883"></div>
  <div class=e13_884>
    <div class="e105_1362"(click)="goToManagement()"></div>
    <div class="e13_885"></div>
  </div>

  <div class="e13_943">
    <div class="e13_887"></div>
    <span class="e13_889">수축기 혈압</span>
    <input type="number" class="e13_893" [(ngModel)]="systolicPressure" placeholder="수축기 입력">
    <span class="e13_891">mmHg</span>
  </div>
  
  <div class="e13_944">
    <div class="e13_888"></div>
    <span class="e13_890">이완기 혈압</span>
    <input type="number" class="e13_894" [(ngModel)]="diastolicPressure" placeholder="이완기 입력">
    <span class="e13_892">mmHg</span>
  </div>
  
  <!-- 저장 버튼 -->
  <button (click)="saveBloodPressure()">저장하기</button>
  
  <!-- 입력된 혈압 값을 표시할 위치 -->
  <div *ngIf="bloodPressureResult">
    <p [innerHTML]="bloodPressureResult"></p>
  </div>
  
  <div class=e13_942>
    <div class="e13_896"></div><span  class="e13_897">To do Checklist</span>
    <div class=e13_941>
      <div class=e13_901>
        <div class="e13_902"></div>
        <div class="e13_903"></div>
      </div>
    </div>
    <div class=e13_940>
      <div class=e13_910>
        <div class="e13_911"></div>
        <div class="e13_912"></div>
      </div>
    </div>
    <div class=e13_939>
      <div class=e13_922>
        <div class="e13_923"></div>
        <div class="e13_924"></div>
      </div>
    </div>
    <div class=e13_938>
      <div class=e13_925>
        <div class="e13_926"></div>
        <div class="e13_927"></div>
      </div>
    </div>
  </div>
</div>