<div class="e2_100">
  <div class="e2_83">
    <div class="ei2_83_1_1034"></div>
    <div class="ei2_83_1_1035"></div>
    <div class="ei2_83_1_1036"></div>
    <div class="ei2_83_1_1037"></div>
    <div class="ei2_83_1_1038"></div>
    <div class="ei2_83_1_1039"></div>
    <div class="ei2_83_35_1389" (click)="goToStart5()">
      <div class="ei2_83_1_1061"></div>
      <span class="ei2_83_1_1069">시작하기</span>
    </div>
    <span class="ei2_83_1_1157">심박도 측정 및 알림을<br>제공해요</span>
  </div>
  <div class="e6_1506">
    <div class="e6_1108">
      <span class="e6_1110">104</span>
      <span class="e6_1111">BPM</span>
      <span class="e6_1112">Average 69 BPM</span>
      <span class="e6_1114">5 September</span>
      <span class="e6_1115">42</span>
      <span class="e6_1116">131</span>
      <div class="e6_1117"></div>
      <div class="e6_1118"></div>
      <div class="e6_1130"></div>
      <div class="e6_1131"></div>
      <div class="e6_1132"></div>
      <span class="e6_1133">day</span>
      <span class="e6_1134">week</span>
      <span class="e6_1135">month</span>
    </div>
  </div>
  <div class="e40_1663"></div>
</div>
