.e2_100 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e2_83 { 
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_83_1_1034 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_83_1_1035 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:171px;
	top:154.2600860595703px;
}
.ei2_83_1_1036 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:188px;
	top:154.2600860595703px;
}
.ei2_83_1_1037 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:205px;
	top:154.2600860595703px;
}
.ei2_83_1_1038 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:222px;
	top:154.2600860595703px;
}
.ei2_83_1_1039 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:239px;
	top:154.2600860595703px;
}
.ei2_83_35_1389 { 
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:23px;
	top:728.2510986328125px;
}
.ei2_83_1_1061 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.ei2_83_1_1069 { 
	color:rgba(255, 255, 255, 1);
	width:187px;
	height:32.28699493408203px;
	position:absolute;
	left:94px;
	top:11.659194946289062px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.ei2_83_1_1157 { 
	color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:279px;
	height:43.946189880371094px;
	position:absolute;
	left:71px;
	top:201.79371643066406px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e6_1506 { 
	width:316px;
	height:241px;
	position:absolute;
	left:52px;
	top:337px;
}
.e6_1108 { 
	width:316px;
	height:241px;
	position:absolute;
	left:0px;
	top:0px;
}
.e6_1110 { 
	color:rgba(0, 0, 0, 1);
	width:187.8918914794922px;
	height:97.17740631103516px;
	position:absolute;
	left:0px;
	top:19.43547248840332px;
	font-family:Roboto;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1111 { 
	color:rgba(0, 0, 0, 1);
	width:136.64865112304688px;
	height:15.548385620117188px;
	position:absolute;
	left:3.4162206649780273px;
	top:111.17093658447266px;
	font-family:Roboto;
	text-align:left;
	font-size:19.913869857788086px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1112 { 
	color:rgba(0, 0, 0, 1);
	width:136.64865112304688px;
	height:16.3258056640625px;
	position:absolute;
	left:3.4162206649780273px;
	top:174.1419219970703px;
	font-family:Roboto;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1114 { 
	color:rgba(0, 0, 0, 1);
	width:166.54052734375px;
	height:16.3258056640625px;
	position:absolute;
	left:2.5621654987335205px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:25.974613189697266px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1115 { 
	color:rgba(0, 0, 0, 1);
	width:35.01621627807617px;
	height:16.3258056640625px;
	position:absolute;
	left:19.643234252929688px;
	top:153.1515655517578px;
	font-family:Roboto;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1116 { 
	color:rgba(0, 0, 0, 1);
	width:40.994598388671875px;
	height:14.770966529846191px;
	position:absolute;
	left:81.98919677734375px;
	top:153.1515655517578px;
	font-family:Roboto;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1117 { 
	transform: rotate(146.87547440327674deg);
	opacity:0.6000000238418579;
	width:5.543588161468506px;
	height:5.543588161468506px;
	position:absolute;
	left:71.14444732666016px;
	top:158.3828125px;
}
.e6_1117 { 
	border:3.4632818698883057px solid rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
}
.e6_1118 { 
	transform: rotate(-33.12452087041908deg);
	opacity:0.6000000238418579;
	width:5.543588161468506px;
	height:5.543588161468506px;
	position:absolute;
	left:8.935388565063477px;
	top:161.843994140625px;
}
.e6_1118 { 
	border:3.4632818698883057px solid rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
}
.e6_1130 { 
	border:0.8658204674720764px solid rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
}
.e6_1130 { 
	width:141.77296447753906px;
	height:0px;
	position:absolute;
	left:3.4162206649780273px;
	top:136.0483856201172px;
}
.e6_1131 { 
	transform: rotate(0.0000032683534608898772deg);
	width:311.729736328125px;
	height:0px;
	position:absolute;
	left:4.270276069641113px;
	top:203.68386840820312px;
}
.e6_1131 { 
	border:0.8658204674720764px solid rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
}
.e6_1132 { 
	transform: rotate(0.0000032683534608898772deg);
	width:311.729736328125px;
	height:0px;
	position:absolute;
	left:4.270276069641113px;
	top:241px;
}
.e6_1132 { 
	border:0.8658204674720764px solid rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
}
.e6_1133 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.6000000238418579;
	width:83.69729614257812px;
	height:15.548385620117188px;
	position:absolute;
	left:5.978386402130127px;
	top:214.5677490234375px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1134 { 
	color:rgba(116.00000068545341, 119.00000050663948, 117.00000062584877, 0.5);
	width:83.69729614257812px;
	height:15.548385620117188px;
	position:absolute;
	left:117.85945892333984px;
	top:214.5677490234375px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e6_1135 { 
	color:rgba(116.00000068545341, 119.00000050663948, 117.00000062584877, 0.5);
	opacity:0.6000000238418579;
	width:83.69729614257812px;
	height:15.548385620117188px;
	position:absolute;
	left:228.88648986816406px;
	top:214.5677490234375px;
	font-family:Roboto;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e8_580 { 
	width:185px;
	height:132px;
	position:absolute;
	left:210px;
	top:331px;
}
.e40_1663 { 
	width:178px;
	height:178px;
	position:absolute;
	left:210px;
	top:316px;
	background-image:url('/assets/images/39_a.png');
	background-repeat:no-repeat;
	background-size:cover;
}
