.e2_135 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e2_118 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_118_2_101 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_118_2_101_2_83 { 
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_118_2_101_2_83_1_1034 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_118_2_101_2_83_1_1035 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:171px;
	top:154.2600860595703px;
}
.ei2_118_2_101_2_83_1_1036 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:188px;
	top:154.2600860595703px;
}
.ei2_118_2_101_2_83_1_1037 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:205px;
	top:154.2600860595703px;
}
.ei2_118_2_101_2_83_1_1038 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:222px;
	top:154.2600860595703px;
}
.ei2_118_2_101_2_83_1_1039 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:239px;
	top:154.2600860595703px;
}
.ei2_118_2_101_2_83_35_1389 { 
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:23px;
	top:728.2510986328125px;
}
.ei2_118_2_101_2_83_1_1061 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.ei2_118_2_101_2_83_1_1069 { 
	color:rgba(255, 255, 255, 1);
	width:187px;
	height:32.28699493408203px;
	position:absolute;
	left:94px;
	top:11.659194946289062px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.ei2_118_2_101_2_83_1_1157 { 
	color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:279px;
	height:43.946189880371094px;
	position:absolute;
	left:71px;
	top:201.79371643066406px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e27_3583 { 
	width:379px;
	height:418px;
	position:absolute;
	left:20px;
	top:303px;
}
.e27_3584 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:379px;
	height:418px;
	position:absolute;
	left:0px;
	top:0px;
}
.e27_3585 { 
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:418px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e27_3586 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:379px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e27_3587 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:27px;
	position:absolute;
	left:17px;
	top:9px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3588 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:52px;
}
.e27_3589 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:15px;
	top:25px;
}
.e27_3589 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3590 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:67px;
	top:25px;
}
.e27_3590 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3591 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:119px;
	top:25px;
}
.e27_3591 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3592 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:174px;
	top:25px;
}
.e27_3592 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3593 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:230px;
	top:25px;
}
.e27_3593 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3594 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:285px;
	top:25px;
}
.e27_3594 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3595 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3596 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3597 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3598 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3599 { 
	border-radius:500px;
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.3799999952316284);
	width:14px;
	height:14px;
	position:absolute;
	left:205px;
	top:0px;
}
.e27_3600 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3601 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3602 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3603 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:125px;
}
.e27_3604 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:15px;
	top:30px;
}
.e27_3604 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3605 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:67px;
	top:30px;
}
.e27_3605 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3606 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:119px;
	top:30px;
}
.e27_3606 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3607 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:174px;
	top:30px;
}
.e27_3607 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3608 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:230px;
	top:30px;
}
.e27_3608 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3609 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:285px;
	top:30px;
}
.e27_3609 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3610 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3611 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3612 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3613 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3614 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3615 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3616 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3617 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:198px;
}
.e27_3618 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:15px;
	top:33px;
}
.e27_3618 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3619 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:67px;
	top:33px;
}
.e27_3619 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3620 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:119px;
	top:33px;
}
.e27_3620 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3621 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:174px;
	top:33px;
}
.e27_3621 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3622 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:230px;
	top:33px;
}
.e27_3622 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3623 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:285px;
	top:33px;
}
.e27_3623 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3624 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3625 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3626 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3627 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3628 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3629 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3630 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3631 { 
	width:336px;
	height:63px;
	position:absolute;
	left:8px;
	top:271px;
}
.e27_3632 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:15px;
	top:34px;
}
.e27_3632 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3633 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:67px;
	top:34px;
}
.e27_3633 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3634 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:119px;
	top:34px;
}
.e27_3634 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3635 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:174px;
	top:34px;
}
.e27_3635 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3636 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:230px;
	top:34px;
}
.e27_3636 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3637 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:285px;
	top:34px;
}
.e27_3637 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3638 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3639 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3640 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3641 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:153px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3642 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:209px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3643 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:267px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3644 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:324px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3645 { 
	width:66px;
	height:62px;
	position:absolute;
	left:8px;
	top:344px;
}
.e27_3646 { 
	transform: rotate(90deg);
	width:61px;
	height:0px;
	position:absolute;
	left:15px;
	top:37px;
}
.e27_3646 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e27_3647 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3648 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:14px;
	position:absolute;
	left:54px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
}
.e27_3649 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:5px;
	top:86px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e27_3650 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:55px;
	top:86px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e27_3651 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:107px;
	top:86px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
.e27_3652 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:160px;
	top:86px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
}
