.e5_148 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e5_130 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118_2_101 { 
	width:421px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118_2_101_2_83 { 
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118_2_101_2_83_1_1034 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei5_130_2_118_2_101_2_83_35_1389 { 
	position:absolute;
	left:23px;
	top:728.2510986328125px;
}
.e5_150 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:375px;
	height:61px;
	position:absolute;
	left:23px;
	top:428px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e5_149 { 
	color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:326px;
	height:97px;
	position:absolute;
	left:48px;
	top:311px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e5_151 { 
	color:rgba(255, 255, 255, 1);
	width:187px;
	height:36px;
	position:absolute;
	left:113px;
	top:441px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
