.e8_1719 { 
	width:421px;
	height:800px;
	position:absolute;
}
.e8_1718 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_1941 { 
	width:421px;
	height:54.708518981933594px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_1942 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:53.81166076660156px;
	position:absolute;
	left:0px;
	top:0px;
}
.e8_1943 { 
	width:45px;
	height:39.66290283203125px;
	position:absolute;
	left:6px;
	top:9.865470886230469px;
}
.e8_1944 { 
	transform: rotate(-90deg);
	width: 32px; 
	height: 32px;
	border-left: 12px solid transparent; 
	border-right: 12px solid transparent;
	border-bottom: 32px solid rgba(0, 0, 0, 1); 
	position: absolute;
	left: 7.5px;
	top: 6.6px;
}
.e8_1946 { 
	color:rgba(0, 0, 0, 1);
	width:268px;
	height:53.81166076660156px;
	position:absolute;
	left:76px;
	top:15px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e11_289 { 
	width:398px;
	height:188.34080505371094px;
	position:absolute;
	left:11px;
	top:20.6278018951416px;
}
.e8_1947 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:143.4977569580078px;
	position:absolute;
	left:0px;
	top:44.843048095703125px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e8_1948 { 
	width:205px;
	height:182.9596405029297px;
	position:absolute;
	left:182px;
	top:0px;
	background-image:url('/assets/images/o15_24.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_351 { 
	color:rgba(0, 0, 0, 1);
	width:160px;
	height:37px;
	position:absolute;
	left:24px;
	top:60.372196197509766px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e9_356 { 
	color:rgba(0, 0, 0, 1);
	width:173px;
	height:72px;
	position:absolute;
	left:24px;
	top:104.37220001220703px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e11_290 { 
	width:398px;
	height:143.4977569580078px;
	position:absolute;
	left:11px;
	top:375.7847595214844px;
}
.e9_306 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:143.4977569580078px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:30px;
}
.e9_307 { 
	width:141px;
	height:135.42601013183594px;
	position:absolute;
	left:246px;
	top:3.587444305419922px;
	background-image:url('/assets/images/o15_19.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_353 { 
	color:rgba(0, 0, 0, 1);
	width:127px;
	height:28px;
	position:absolute;
	left:33px;
	top:15.21533203125px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e9_359 { 
	color:rgba(0, 0, 0, 1);
	width:237px;
	height:72px;
	position:absolute;
	left:33px;
	top:55.21533203125px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e11_291 { 
	width:439px;
	height:234.62635803222656px;
	position:absolute;
	left:-30px;
	top:495.06719970703125px;
}
.e9_308 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:143.4977569580078px;
	position:absolute;
	left:41px;
	top:36.771358489990234px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e9_309 { 
	transform: rotate(-4.81907107488362deg);
	width:233.05479431152344px;
	height:216.22555541992188px;
	position:absolute;
	left:0px;
	top:19.578821182250977px;
	background-image:url('/assets/images/swimming.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_354 { 
	color:rgba(0, 0, 0, 1);
	width:139px;
	height:25px;
	position:absolute;
	left:208px;
	top:44.932861328125px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e11_288 { 
	color:rgba(0, 0, 0, 1);
	width:217px;
	height:101px;
	position:absolute;
	left:208px;
	top:76.932861328125px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e11_292 { 
	width:398px;
	height:147.9820098876953px;
	position:absolute;
	left:11px;
	top:215.24668884277344px;
}
.e8_1949 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:143.4977569580078px;
	position:absolute;
	left:0px;
	top:4.484249114990234px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e9_350 { 
	width:118px;
	height:139.01333618164062px;
	position:absolute;
	left:21px;
	top:0px;
}
.e9_304 { 
	transform: rotate(-12.06221750705272deg);
	width:71.43989562988281px;
	height:45.06851577758789px;
	position:absolute;
	left:11.028055191040039px;
	top:14.929062843322754px;
	background-image:url('/assets/images/tennis.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_305 { 
	width:118px;
	height:104.49980163574219px;
	position:absolute;
	left:0px;
	top:34.51353454589844px;
	background-image:url('/assets/images/o15_21.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_352 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:36px;
	position:absolute;
	left:95px;
	top:22.75341796875px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e9_358 { 
	color:rgba(0, 0, 0, 1);
	width:247px;
	height:72px;
	position:absolute;
	left:128px;
	top:56.75341796875px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e9_312 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:398px;
	height:112.10762023925781px;
	position:absolute;
	left:11px;
	top:687.8923950195312px;
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e9_349 { 
	width:170px;
	height:92.37667846679688px;
	position:absolute;
	left:245px;
	top:680.7174682617188px;
	background-image:url('/assets/images/9.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.e9_355 { 
	color:rgba(0, 0, 0, 1);
	width:144px;
	height:29px;
	position:absolute;
	left:34px;
	top:700px;
	font-family:Roboto;
	text-align:left;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e11_293 { 
	box-shadow:0px -4px 4px rgba(0, 0, 0, 0.25);
	width:410px;
	height:26.90583038330078px;
	position:absolute;
	left:5px;
	top:773.0941772460938px;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e9_317 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:410px;
	height:26.90583038330078px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e9_348 { 
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17px dashed rgba(0, 0, 0, 1);
    position: absolute;
	left: 195px;
	top: 786 px;
}