<div class=e8_1719>
  <div class="e8_1718"></div>
  <div class=e8_1941>
    <div class="e8_1942"></div>
    <div class=e8_1943>
      <div class="e8_1944" (click)="goToMain()"></div>
    </div>
    <span  class="e8_1946">HeartSignal</span>
  </div>
  <div class=e11_289>
    <div class="e8_1947"></div>
    <div class="e8_1948"></div>
    <span  class="e9_351">Stretching</span>
    <span  class="e9_356">동맥을 포함해서 근육에 산소와 영양분을 공급하는 혈관이 이완되고 동맥이 이완되면 혈류의 저항성이 감소해서 혈압이 낮아질 수 있습니다.</span>
  </div>
  <div class=e11_290>
    <div class="e9_306"></div>
    <div class="e9_307"></div>
    <span  class="e9_353">Running</span>
    <span  class="e9_359">평지를 달릴 때 광범위하게 사용되는 근육집단에 비해 요구되는 힘은 아주 적어 수축기 혈압상승은 미세하고 이완기 혈압과 동맥의 평균압도 거의 변하지 않아 이상적인 운동입니다.</span>
  </div>
  <div class=e11_291>
    <div class="e9_308"></div>
    <div class="e9_309"></div>
    <span  class="e9_354">Swimming</span>
    <span  class="e11_288">물속에 들어가면 수압 때문에 혈압이 자동적으로 올라가게 됩니다. 하지만 우리의 몸은 항상 그대로를 유지하려 하는 성질을 지녀 혈압이 올라가면 혈관을 이완시켜 혈류를 개선하고 혈압을 낮추려 합니다. 이는 고혈압을 예방하고 개선하는 데 효과적입니다.</span>
  </div>
  <div class=e11_292>
    <div class="e8_1949"></div>
    <div class=e9_350>
      <div class="e9_304"></div>
      <div class="e9_305"></div>
    </div><span  class="e9_352">Tennis</span>
    <span  class="e9_358">힘과 지구력, 속도, 유연성 등의 체력을 향상시킬 수 있습니다. 한시간에 700kcal를 소모할 수 있는 고강도 유산소 운동이자 무산소 운동입니다. </span>
  </div>
  <div class="e9_312"></div>
  <div class="e9_349"></div>
  <span  class="e9_355">Jump rope</span>
  <div class=e11_293>
    <div class="e9_317"></div>
    <div class="e9_348"(click)='goToExscroll()'></div>
  </div>
</div>