<div class=e6_2054>
  <div class="e6_2053"></div>
  <div class=e6_2055></div>
  <div class=e6_2091>
    <div class="e6_2081"(click)="goToExercise()"></div>
    <div class="e6_2089" (click)="goToExercise()"></div>
    <span  class="e6_2090" (click)="goToExercise()">맞춤 운동</span>
  </div>
  <div class=e6_2088>
    <div class="e6_2082" (click)="goToWeight()"></div>
    <span  class="e6_2087" (click)="goToWeight()">체중관리</span>
    <div class="e6_2086" (click)="goToWeight()"></div>
  </div>
  <div class=e6_2083>
    <div class="e6_2072"(click)="goToDay()"></div>
    <span  class="e6_2080"(click)="goToDay()">심박도<br>측정</span>
  </div>
  <div class=e6_2096>
    <div class="e6_2085" (click)="goToManagement()"></div>
    <span  class="e6_2094"(click)="goToManagement()">월별 혈압<br>관리</span>
    <div class="e6_2093"(click)="goToManagement()"></div>
  </div>
  <div class=e40_1659>
    <div class="ei40_1659_1_45"></div>
  </div>
</div>