<div class=e13_4466>
  <div class=e13_4369>
    <div class=ei13_4369_11_294>
      <div class="ei13_4369_11_294_8_1718"></div>
      <div class=ei13_4369_11_294_8_1941>
        <div class="ei13_4369_11_294_8_1942"></div>
        <div class="e13_348"></div>
        <span  class="ei13_4369_11_294_8_1946">HeartSignal</span>
      </div>
      <div class=ei13_4369_11_294_11_289>
        <div class="ei13_4369_11_294_8_1947"></div>
        <div class="ei13_4369_11_294_8_1948"></div>
        <span  class="ei13_4369_11_294_9_351">Stretching</span>
        <span  class="ei13_4369_11_294_9_356">동맥을 포함해서 근육에 산소와 영양분을 공급하는 혈관이 이완되고 동맥이 이완되면 혈류의 저항성이 감소해서 혈압이 낮아질 수 있습니다.</span>
      </div>
      <div class=ei13_4369_11_294_11_290>
        <div class="ei13_4369_11_294_9_306"></div>
        <div class="ei13_4369_11_294_9_307"></div>
        <span  class="ei13_4369_11_294_9_353">Running</span>
        <span  class="ei13_4369_11_294_9_359">평지를 달릴 때 광범위하게 사용되는 근육집단에 비해 요구되는 힘은 아주 적어 수축기 혈압상승은 미세하고 이완기 혈압과 동맥의 평균압도 거의 변하지 않아 이상적인 운동입니다.</span>
      </div>
      <div class=ei13_4369_11_294_11_291>
        <div class="ei13_4369_11_294_9_308"></div>
        <div class="ei13_4369_11_294_9_309"></div>
        <span  class="ei13_4369_11_294_9_354">Swimming</span>
        <span  class="ei13_4369_11_294_11_288">물속에 들어가면 수압 때문에 혈압이 자동적으로 올라가게 됩니다. 하지만 우리의 몸은 항상 그대로를 유지하려 하는 성질을 지녀 혈압이 올라가면 혈관을 이완시켜 혈류를 개선하고 혈압을 낮추려 합니다. 이는 고혈압을 예방하고 개선하는 데 효과적입니다.</span>
      </div>
      <div class=ei13_4369_11_294_11_292>
        <div class="ei13_4369_11_294_8_1949"></div>
        <div class=ei13_4369_11_294_9_350>
          <div class="ei13_4369_11_294_9_304"></div>
          <div class="ei13_4369_11_294_9_305"></div>
        </div><span  class="ei13_4369_11_294_9_352">Tennis</span>
        <span  class="ei13_4369_11_294_9_358">힘과 지구력, 속도, 유연성 등의 체력을 향상시킬 수 있습니다. 한시간에 700kcal를 소모할 수 있는 고강도 유산소 운동이자 무산소 운동입니다. </span>
      </div>
      <div class="ei13_4369_11_294_9_312"></div>
      <div class="ei13_4369_11_294_9_349"></div>
      <span  class="ei13_4369_11_294_9_355">Jump rope</span>
    </div>
    <div class="ei13_4369_12_323"></div>
    <div class=ei13_4369_13_530>
      <div class="ei13_4369_12_466"></div>
    </div>
    <div class=ei13_4369_13_529>
      <div class="ei13_4369_13_472"></div>
      <div class="ei13_4369_13_473"></div>
      <div class="e13_111" (click)="goToExercise()"></div>
      <span  class="ei13_4369_13_474">9</span>
      <div class=ei13_4369_13_721>
        <div class="ei13_4369_13_722"></div>
        <div class="ei13_4369_13_723"></div>
        <div class="ei13_4369_13_724"></div>
        <div class="ei13_4369_13_725"></div>
        <div class="ei13_4369_13_726"></div>
        <div class="ei13_4369_13_727"></div>
        <span  class="ei13_4369_13_728">1</span>
        <span  class="ei13_4369_13_729">2</span>
        <span  class="ei13_4369_13_730">3</span>
        <span  class="ei13_4369_13_731">4</span>
        <div class="ei13_4369_13_732"></div>
        <span  class="ei13_4369_13_733">5</span>
        <span  class="ei13_4369_13_734">6</span>
        <span  class="ei13_4369_13_735">7</span>
      </div>
    </div>
    
    <div class="exercise-container">
      <!-- 운동 이름 입력 부분 -->
      <div class="exercise-inputs">
        <input class="e13_4369_13_494" [(ngModel)]="exerciseNames[0]" placeholder="운동 1" />
        <input class="e13_4369_13_500" [(ngModel)]="exerciseNames[1]" placeholder="운동 2" />
        <input class="e13_4369_13_498" [(ngModel)]="exerciseNames[2]" placeholder="운동 3" />
        <input class="e13_4369_13_496" [(ngModel)]="exerciseNames[3]" placeholder="운동 4" />
        <input class="e13_4369_13_508" [(ngModel)]="exerciseNames[4]" placeholder="운동 5" />
      </div>
    
      <!-- 시간 입력 부분 -->
      <div class="time-inputs">
        <div class="e113_2318">
          <input [(ngModel)]="exerciseTimes[0]" placeholder="min" />
        </div>
        <div class="e113_2321">
          <input [(ngModel)]="exerciseTimes[1]" placeholder="min" />
        </div>
        <div class="e113_2324">
          <input [(ngModel)]="exerciseTimes[2]" placeholder="min" />
        </div>
        <div class="e113_2327">
          <input [(ngModel)]="exerciseTimes[3]" placeholder="min" />
        </div>
        <div class="e113_2328">
          <input [(ngModel)]="exerciseTimes[4]" placeholder="min" />
        </div>
      </div>
    
      <!-- 색상 변경 버튼 -->
      <div class="color-buttons">
        <div class="e13_4369_13_493" (click)="setColor(0, $event)"></div>
        <div class="e13_4369_13_499" (click)="setColor(1, $event)"></div>
        <div class="e13_4369_13_497" (click)="setColor(2, $event)"></div>
        <div class="e13_4369_13_495" (click)="setColor(3, $event)"></div>
        <div class="e13_4369_13_507" (click)="setColor(4, $event)"></div>
      </div>
    
      <!-- 저장 버튼 -->
      <div class="e113_2329">
        <span class="e113_2330" (click)="save()">저장</span>
      </div>
    </div>    
  </div>
</div>
    