<div class=e8_739>
  <div class=e8_718>
    <div class="ei8_718_6_2098"></div>
    <div class=ei8_718_8_1896>
      <div class="ei8_718_7_284"></div>
      <div class=ei8_718_7_305>
        <div class="ei8_718_7_303"(click)="goToMain()"></div>
      </div><span  class="ei8_718_7_306">HeartSignal</span>
    </div>
    <div class=ei8_718_8_1674><span  class="ei8_718_8_310">BPM</span><span  class="ei8_718_8_309">104</span><span  class="ei8_718_8_313">5 September</span>
      <div class="ei8_718_8_329"></div>
      <span  class="ei8_718_8_311">Average 69 BPM</span>
      <div class="e13_1"></div>
      <span  class="ei8_718_8_314">42</span>
      <div class="e13_2"></div>
      <span  class="ei8_718_8_315">131</span>
      <div class="ei8_718_8_316"></div>
      <div class="ei8_718_8_317"></div>
      <div class="ei8_718_8_330"></div>
      <div class="ei8_718_8_331"></div>
      <span  class="ei8_718_8_333">WEEK</span>
      <span  class="ei8_718_8_895" (click)= "goToDay()">DAY</span>
      <span  class="ei8_718_8_334" (click)="goToMonth()">MONTH</span>
    </div>
    <div class=ei8_718_8_1631>
      <div class="ei8_718_8_976"></div>
      <div class="ei8_718_8_1004"></div>
      <div class="ei8_718_8_1091"></div>
    </div>
    <div class=ei8_718_40_1573>
      <div class="ei8_718_40_1573_1_20"></div>
    </div>
  </div>
  <div class=e13_1755><span  class="e13_1739">WEEK1</span>
    <div class="e13_1745"></div>
    <div class="e13_1746"></div>
  </div>
  <div class=e13_1756><span  class="e13_1741">WEEK2</span>
    <div class="e13_1747"></div>
    <div class="e13_1748"></div>
  </div>
  <div class=e13_1757><span  class="e13_1742">WEEK3</span>
    <div class="e13_1749"></div>
    <div class="e13_1750"></div>
  </div>
  <div class=e13_1758><span  class="e13_1743">WEEK4</span>
    <div class="e13_1751"></div>
    <div class="e13_1752"></div>
  </div>
  <div class=e13_1759><span  class="e13_1744">WEEK5</span>
    <div class="e13_1753"></div>
    <div class="e13_1754"></div>
  </div>
  <div class="e13_1828"></div>
  <div class="e13_1895"></div><span  class="e13_2054">MAX<br>AVE<br>160</span>
  <span  class="e13_2124">MIN<br>AVE<br>70</span>
</div>