<div class=e6_2099>
  <div class="e6_2098"></div>
  <div class=e8_1896>
    <div class="e7_284"></div>
    <div class=e7_305>
      <div class="e7_303" (click)="goToMain()"></div>
    </div><span  class="e7_306">HeartSignal</span>
  </div>
  <div class=e8_1674><span  class="e8_310">BPM</span>
    <span class="e8_309">{{ bluetoothData }}</span>
    <span  class="e8_313">5 September</span>
    <div class="e8_329"></div><span  class="e8_311">Average 69 BPM</span>
    <div class="e51_1380"></div>
    <span  class="e8_314">42</span>
    <div class="e51_1515"></div>
    <span  class="e8_315">131</span>
    <div class="e8_330"></div>
    <div class="e8_331"></div><span  class="e8_333" (click)="goToWeek()">WEEK</span>
    <span  class="e8_895">DAY</span>
    <span  class="e8_334" (click)="goToMonth()">MONTH</span>
  </div>
  <div class=e8_1631>
    <div class="e8_976"></div>
    <div class="e8_1004"></div>
    <div class="e8_1091"></div>
    <div class="e8_1121"></div>
    <span  class="e8_1153">12<br>pm</span>
    <span  class="e8_1218">6<br>pm</span>
    <span  class="e8_1185">6<br>am</span>
    <div class="e8_1252"></div>
    <div class="e8_1357"></div>
    <div class="e8_1393"></div>
    <div class="e8_1430"></div>
    <div class="e8_1468"></div>
    <div class="e8_1507"></div>
    <div class="e8_1547"></div>
    <div class="e8_1588"></div>
  </div><span  class="e13_1963">AVE 102</span>
  <div class=e40_1573>
    <div class="ei40_1573_1_20"></div>
  </div>
</div>