<div class=e13_528>
  <div class="e12_469"></div>
  <div class=e13_536>
    <div class="e13_537"></div>
    <div class=e13_538>
      <div class="e13_539"(click)="goToMain()"></div>
    </div><span  class="e13_541">HeartSignal</span>
  </div>
  <div class=e13_543>
    <div class="e13_544"></div>
    <div class="e13_545"></div>
    <span  class="e13_546">9</span>
    <div class=e13_706>
      <div class="e13_707"></div>
      <div class="e13_708"></div>
      <div class="e13_709"></div>
      <div class="e13_710"></div>
      <div class="e13_711"></div>
      <div class="e13_712"></div>
      <span  class="e13_713">1</span>
      <span  class="e13_714">2</span>
      <span  class="e13_715">3</span>
      <span  class="e13_716">4</span>
      <div class="e13_717"></div>
      <span  class="e13_718">5</span>
      <span  class="e13_719">6</span>
      <span  class="e13_720">7</span>
    </div>
  </div>
  <div class="input-container">
    <div class="e13_571">
      <div class="e13_561"></div>
      <span class="e13_564">키</span>
      <span class="e13_567">cm</span>
      <input class="e13_569" [(ngModel)]="height" placeholder="키 입력" (focus)="clearDisplay()"/>
    </div>
    <div class="e13_572">
      <div class="e13_562"></div>
      <span class="e13_565">몸무게</span>
      <span class="e13_568">kg</span>
      <input class="e13_570" [(ngModel)]="weight" placeholder="몸무게 입력" (focus)="clearDisplay()"/>
    </div>
  </div>
  
  <!-- 저장된 값을 표시할 부분 -->
  <div *ngIf="showData" class="display-container">
    <span>키: {{ savedHeight }} cm</span><br/>
    <span>몸무게: {{ savedWeight }} kg</span>
  </div>
  
  <div class=e13_587>
    <div class="e13_566"></div>
    <div class="e13_573"></div>
    <span  class="e13_574">Apr</span>
    <span  class="e13_578">Aug</span>
    <span  class="e13_579">Sep</span>
    <span  class="e13_575">May</span>
    <span  class="e13_576">Jun</span>
    <span  class="e13_577">Jul</span>
    <div class="e13_580"></div>
    <div class="e13_584"></div>
    <div class="e13_585"></div>
    <div class="e13_586"></div>
    <div class="e13_582"></div>
    <div class="e13_583"></div>
    <span  class="e13_1733">75kg</span>
    <span  class="e13_1737">70kg</span>
    <span  class="e13_1738">70kg</span>
    <span  class="e13_1734">73kg</span>
    <span  class="e13_1735">70kg</span>
    <span  class="e13_1736">69kg</span>
  </div><span  class="e40_1388">키 165cm<br>몸무게 72kg </span>
  <span  class="e40_1389">키 165cm<br>몸무게 71kg </span>
  <span  class="e40_1390">키 165cm<br>몸무게 72kg </span>
  <span  class="e40_1391">키 165cm<br>몸무게 71.5kg </span>
</div>