<div class="e2_98">
  <div class="e2_67">
    <div class="ei2_67_1_1034"></div>
    <div class="ei2_67_1_1035"></div>
    <div class="ei2_67_1_1036"></div>
    <div class="ei2_67_1_1037"></div>
    <div class="ei2_67_1_1038"></div>
    <div class="ei2_67_1_1039"></div>
    <div class="ei2_67_35_1389" (click)="goToStart4()">
      <div class="ei2_67_1_1061"></div>
      <span class="ei2_67_1_1069">시작하기</span>
    </div>
    <span class="ei2_67_1_1157">이제는,<br>착용하고 운동하면</span>
  </div>
  <div class="e2_82"></div>
</div>
