.e2_98 { 
	width:421px;
	height:892px;
	position:absolute;
}
.e2_67 { 
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_67_1_1034 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_67_1_1035 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:171px;
	top:154.2600860595703px;
}
.ei2_67_1_1036 { 
	border-radius:500px;
	background-color:rgba(46.000001057982445, 46.000001057982445, 46.000001057982445, 1);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:188px;
	top:154.2600860595703px;
}
.ei2_67_1_1037 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:205px;
	top:154.2600860595703px;
}
.ei2_67_1_1038 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:222px;
	top:154.2600860595703px;
}
.ei2_67_1_1039 { 
	border-radius:500px;
	background-color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 0.20000000298023224);
	width:10px;
	height:8.968609809875488px;
	position:absolute;
	left:239px;
	top:154.2600860595703px;
}
.ei2_67_35_1389 { 
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:23px;
	top:728.2510986328125px;
}
.ei2_67_1_1061 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.ei2_67_1_1069 { 
	color:rgba(255, 255, 255, 1);
	width:187px;
	height:32.28699493408203px;
	position:absolute;
	left:94px;
	top:11.659194946289062px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.ei2_67_1_1157 { 
	color:rgba(87.00000241398811, 80.00000283122063, 78.00000295042992, 1);
	width:279px;
	height:43.946189880371094px;
	position:absolute;
	left:71px;
	top:201.79371643066406px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e2_82 { 
	width:260px;
	height:319px;
	position:absolute;
	left:80px;
	top:303px;
	background-image:url('/assets/images/o15_11.png');
	background-repeat:no-repeat;
	background-size:cover;
}
