.e2_99 { 
	width:421px;
	height:800px;
	position:absolute;
}
.e1_1051 { 
	background-color:rgba(0, 0, 0, 1);
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_1053 { 
	color:rgba(255, 255, 255, 1);
	width:364px;
	height:101px;
	position:absolute;
	left:28px;
	top:317px;
	font-family:Roboto;
	text-align:left;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_1060 { 
	color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:364px;
	height:101px;
	position:absolute;
	left:28px;
	top:378px;
	font-family:Roboto;
	text-align:left;
	font-size:50px;
	letter-spacing:0.25;
	line-height:px;
}
.e35_1465 { 
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:23px;
	top:728.2510986328125px;
}
.e35_1466 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:375px;
	height:54.708518981933594px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:60px;
	border-top-right-radius:60px;
	border-bottom-left-radius:60px;
	border-bottom-right-radius:60px;
}
.e35_1467 { 
	color:rgba(255, 255, 255, 1);
	width:187px;
	height:32.28699493408203px;
	position:absolute;
	left:94px;
	top:11.659194946289062px;
	font-family:Roboto;
	text-align:center;
	font-size:30px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e40_1661 { 
	width:100px;
	height:100px;
	position:absolute;
	left:304px;
	top:360px;
}
.ei40_1661_1_20 { 
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url('/assets/images/39_a.png');
	background-repeat:no-repeat;
	background-size:cover;
}
