@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Bold.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
  }

  @font-face {
	font-family: 'Roboto mono';
	src: url('/assets/fonts/Roboto_Mono/src/assets/fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
  }

.e13_589 { 
	width:421px;
	height:800px;
	position:absolute;
}
.e13_588 { 
	background-color:rgba(255, 242.00000077486038, 220.00000208616257, 1);
	width:421px;
	height:800px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_590 { 
	width:421px;
	height:54.708518981933594px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_591 { 
	background-color:rgba(255, 255, 255, 1);
	width:421px;
	height:53.81166076660156px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_592 { 
	width:45px;
	height:39.66290283203125px;
	position:absolute;
	left:6px;
	top:9.865470886230469px;
}
.e13_593 { 
	transform: rotate(-90deg);
	width: 0; 
	height: 0;
	border-left: 12px solid transparent; 
	border-right: 12px solid transparent;
	border-bottom: 32px solid rgba(0, 0, 0, 1); 
	position: absolute;
	left: 7.5px;
	top: 6.6px;
}

.e13_595 { 
	color:rgba(0, 0, 0, 1);
	width:268px;
	height:53.81166076660156px;
	position:absolute;
	left:76px;
	top:15px;
	font-family:Roboto;
	text-align:center;
	font-size:25px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_738 { 
	box-shadow:0px -4px 4px rgba(0, 0, 0, 0.25);
	width:410px;
	height:26.90583038330078px;
	position:absolute;
	left:6px;
	top:773.0941772460938px;
}
.e13_739 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:410px;
	height:26.90583038330078px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e13_740 { 
	border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 17px dashed rgba(0, 0, 0, 1);
    position: absolute;
	left: 200px;
	top: 781 px;
}

.e13_773 { 
	width:379px;
	height:230px;
	position:absolute;
	left:21px;
	top:463px;
}
.e13_741 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:230px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_772 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.27000001072883606);
	width:347px;
	height:41px;
	position:absolute;
	left:16px;
	top:53px;
}
.e13_742 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_742 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.e13_750 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_750 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:94px;
}
.e13_752 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_752 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:136px;
}
.e13_753 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_753 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:179px;
}
.e13_751 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_751 { 
	width:347px;
	height:0px;
	position:absolute;
	left:16px;
	top:54px;
}
.e13_743 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:-10px;
	top:120px;
}
.e13_743 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_744 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:80px;
	top:120px;
}
.e13_744 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_745 { 
	transform: rotate(90deg);
	width:203.0221710205078px;
	height:0px;
	position:absolute;
	left:160px;
	top:120px;
}
.e13_745 { 
	border:1px solid rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
}
.e13_746 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_757 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_758 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:183px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_754 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_767 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_768 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_770 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_771 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:190px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_769 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:191px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_755 { 
	color:rgba(0, 0, 0, 1);
	width:54px;
	height:29px;
	position:absolute;
	left:16px;
	top:102px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_747 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_761 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_762 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_763 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:83px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_759 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:85px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_748 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:21px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_760 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:61px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_764 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:100px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_765 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:143px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_766 { 
	color:rgba(0, 0, 0, 1);
	width:101px;
	height:29px;
	position:absolute;
	left:253px;
	top:186px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e27_2989 { 
	width:379px;
	height:374.88787841796875px;
	position:absolute;
	left:21px;
	top:65.47085571289062px;
}
.e13_736 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:379px;
	height:374.88787841796875px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_597 { 
	background-color:rgba(255, 255, 255, 1);
	width:379px;
	height:374.88787841796875px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e13_598 { 
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 1);
	width:379px;
	height:37.66816329956055px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.e13_599 { 
	color:rgba(255, 255, 255, 1);
	width:17px;
	height:24.215246200561523px;
	position:absolute;
	left:17px;
	top:8.071748733520508px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_629 { 
	width:336px;
	height:56.50224304199219px;
	position:absolute;
	left:8px;
	top:46.63677215576172px;
}
.e13_600 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:15px;
	top:25px;
}
.e13_600 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_601 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:67px;
	top:25px;
}
.e13_601 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_602 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:119px;
	top:25px;
}
.e13_602 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_603 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:174px;
	top:25px;
}
.e13_603 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_604 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:230px;
	top:25px;
}
.e13_604 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_605 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:285px;
	top:25px;
}
.e13_605 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_606 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_613 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:54px;
	top:0.8968610763549805px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_607 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_608 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:153px;
	top:0.8968610763549805px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_705 { 
	border-radius:500px;
	background-color:rgba(243.51171165704727, 103.89835685491562, 103.89835685491562, 0.3799999952316284);
	width:14px;
	height:12.55605411529541px;
	position:absolute;
	left:205px;
	top:0px;
}
.e13_609 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:209px;
	top:0.8968610763549805px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_610 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:267px;
	top:0.8968610763549805px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_611 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:324px;
	top:0.8968610763549805px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_630 { 
	width:336px;
	height:56.50224304199219px;
	position:absolute;
	left:8px;
	top:112.10762023925781px;
}
.e13_631 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:15px;
	top:30px;
}
.e13_631 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_632 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:67px;
	top:30px;
}
.e13_632 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_633 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:119px;
	top:30px;
}
.e13_633 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_634 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:174px;
	top:30px;
}
.e13_634 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_635 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:230px;
	top:30px;
}
.e13_635 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_636 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:285px;
	top:30px;
}
.e13_636 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_637 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_644 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:54px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_638 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_639 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:153px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_640 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:209px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_641 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:267px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_642 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:324px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_645 { 
	width:336px;
	height:56.50224304199219px;
	position:absolute;
	left:8px;
	top:177.57847595214844px;
}
.e13_646 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:15px;
	top:33px;
}
.e13_646 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_647 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:67px;
	top:33px;
}
.e13_647 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_648 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:119px;
	top:33px;
}
.e13_648 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_649 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:174px;
	top:33px;
}
.e13_649 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_650 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:230px;
	top:33px;
}
.e13_650 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_651 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:285px;
	top:33px;
}
.e13_651 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_652 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_659 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:54px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_653 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_654 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:153px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_655 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:209px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_656 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:267px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_657 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:324px;
	top:0.8968601226806641px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_675 { 
	width:336px;
	height:56.50223922729492px;
	position:absolute;
	left:8px;
	top:243.04931640625px;
}
.e13_676 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:15px;
	top:36px;
}
.e13_676 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_677 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:67px;
	top:36px;
}
.e13_677 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_678 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:119px;
	top:36px;
}
.e13_678 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_679 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:174px;
	top:36px;
}
.e13_679 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_680 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:230px;
	top:36px;
}
.e13_680 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_681 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:285px;
	top:36px;
}
.e13_681 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_682 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_689 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:54px;
	top:0.8968620300292969px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_683 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:101px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_684 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:153px;
	top:0.8968620300292969px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_685 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:209px;
	top:0.8968620300292969px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_686 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:267px;
	top:0.8968620300292969px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_687 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:324px;
	top:0.8968620300292969px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_690 { 
	width:66px;
	height:55.60538101196289px;
	position:absolute;
	left:8px;
	top:308.5201721191406px;
}
.e13_691 { 
	transform: rotate(90deg);
	width:54.708518981933594px;
	height:0px;
	position:absolute;
	left:15px;
	top:40px;
}
.e13_691 { 
	border:1px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e13_697 { 
	color:rgba(255, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_704 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:12.55605411529541px;
	position:absolute;
	left:54px;
	top:0.8968620300292969px;
	font-family:Roboto;
	text-align:left;
	font-size:10px;
	letter-spacing:0.25;
	line-height:px;
	font-weight: bold;
}
.e13_2195 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:5px;
	top:71.529052734375px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e13_2731 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:55px;
	top:71.529052734375px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e13_3272 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:107px;
	top:71.529052734375px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
.e13_3818 { 
	color:rgba(0, 0, 0, 1);
	width:47px;
	height:36px;
	position:absolute;
	left:160px;
	top:71.529052734375px;
	font-family:Roboto Mono;
	text-align:center;
	font-size:8px;
	letter-spacing:0;
	line-height:px;
	font-weight: bold;
}
