<div class=e13_589>
  <div class="e13_588"></div>
  <div class=e13_590>
    <div class="e13_591"></div>
    <div class=e13_592>
      <div class="e13_593"(click)="goToMain()"></div>
    </div><span  class="e13_595">HeartSignal</span>
  </div>
  <div class=e13_738>
    <div class="e13_739"></div>
    <div class="e13_740" (click)="goToMascroll()"></div>
  </div>
  <div class=e13_773>
    <div class="e13_741"></div>
    <div class="e13_772"></div>
    <div class="e13_742"></div>
    <div class="e13_750"></div>
    <div class="e13_752"></div>
    <div class="e13_753"></div>
    <div class="e13_751"></div>
    <div class="e13_743"></div>
    <div class="e13_744"></div>
    <div class="e13_745"></div>
    <span  class="e13_746">혈압 분류</span>
    <span  class="e13_757">1 기</span>
    <span  class="e13_758">2 기</span>
    <span  class="e13_754">정상</span>
    <span  class="e13_767">그리고</span>
    <span  class="e13_768">또는</span>
    <span  class="e13_770">또는</span>
    <span  class="e13_771">또는</span>
    <span  class="e13_769">그리고</span>
    <span  class="e13_755">고혈압<br>전 단계</span>
    <span  class="e13_747">수축기 혈압<br>(mmHg)</span>
<span  class="e13_761">120 ~ 139</span>
<span  class="e13_762">140 ~ 159</span>
<span  class="e13_763">160 이상</span>
<span  class="e13_759">120 미만</span>
<span  class="e13_748">이완기 혈압<br>(mmHg)</span>
<span  class="e13_760">80 미만</span>
<span  class="e13_764">80 ~ 89</span>
<span  class="e13_765">90 ~ 99</span>
<span  class="e13_766">100 이상</span>
  </div>
  <div class=e27_2989>
    <div class=e13_736>
      <div class="e13_597"></div>
      <div class="e13_598"></div>
      <span  class="e13_599">9</span>
      <div class=e13_629>
        <div class="e13_600"></div>
        <div class="e13_601"></div>
        <div class="e13_602"></div>
        <div class="e13_603"></div>
        <div class="e13_604"></div>
        <div class="e13_605"></div>
        <span  class="e13_606">1</span>
        <span  class="e13_613">2</span>
        <span  class="e13_607">3</span>
        <span  class="e13_608">4</span>
        <div class="e13_705"></div>
        <span  class="e13_609">5</span>
        <span  class="e13_610">6</span>
        <span  class="e13_611">7</span>
      </div>
      <div class=e13_630>
        <div class="e13_631"></div>
        <div class="e13_632"></div>
        <div class="e13_633"></div>
        <div class="e13_634"></div>
        <div class="e13_635"></div>
        <div class="e13_636"></div>
        <span  class="e13_637">8</span>
        <span  class="e13_644">9</span>
        <span  class="e13_638">10</span>
        <span  class="e13_639">11</span>
        <span  class="e13_640">12</span>
        <span  class="e13_641">13</span>
        <span  class="e13_642">14</span>
      </div>
      <div class=e13_645>
        <div class="e13_646"></div>
        <div class="e13_647"></div>
        <div class="e13_648"></div>
        <div class="e13_649"></div>
        <div class="e13_650"></div>
        <div class="e13_651"></div>
        <span  class="e13_652">15</span>
        <span  class="e13_659">16</span>
        <span  class="e13_653">17</span>
        <span  class="e13_654">18</span>
        <span  class="e13_655">19</span>
        <span  class="e13_656">20</span>
        <span  class="e13_657">21</span>
      </div>
      <div class=e13_675>
        <div class="e13_676"></div>
        <div class="e13_677"></div>
        <div class="e13_678"></div>
        <div class="e13_679"></div>
        <div class="e13_680"></div>
        <div class="e13_681"></div><span  class="e13_682">22</span>
        <span  class="e13_689">23</span><span  class="e13_683">24</span>
        <span  class="e13_684">25</span><span  class="e13_685">26</span>
        <span  class="e13_686">27</span><span  class="e13_687">28</span>
      </div>
      <div class=e13_690>
        <div class="e13_691"></div>
        <span  class="e13_697">29</span>
        <span  class="e13_704">30</span>
      </div>
    </div><span  class="e13_2195">수축기 150<br>이완기 95</span>
    <span  class="e13_2731">수축기 152<br>이완기 96</span>
    <span  class="e13_3272">수축기 149<br>이완기 93</span>
    <span  class="e13_3818">수축기 150<br>이완기 94</span>
  </div>
</div>